* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --aside-panel-width: 30vh;
  --timeline-color: #0026ff;
  --strom-color: #2948ff;
}

.strom-start {
  list-style: none;
  position: relative;
}

.strom-start-li {
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.strom-start-li::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--strom-color);
  left: 0;
  margin-top: .5rem;
  margin-left: 0.5rem;
}

.strom-start h3 {
  display: inline;
  margin-right: 2rem;
  border-bottom: 2px solid var(--strom-color);
  width: 100%;
}

.strom-vnoreny {
  list-style: none;
  position: relative;
  margin-top: 1rem;
  width: 100%;
}

.strom-vnoreny::before {
  content: "";
  border-left: 2px solid var(--strom-color);
  position: absolute;
  left: -2rem;
  top: calc(0.5rem + -2px);
  height: calc(100% - 2rem);
}

.strom-vnoreny-li {
  margin: 1rem 0rem;
}

.strom-vnoreny-li::before {
  content: "";
  height: calc(1rem + 6px);
  width: 1rem;
  position: absolute;
  left: -2rem;
  border-bottom: 2px solid var(--strom-color);
  margin-top: calc(-1rem - -1px);
}

aside {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: var(--aside-panel-width);
  height: 90vh;
  border-color: white;
  border-width: 2px;
  border-radius: 25px;
  border-style: solid;
  position: fixed;
  left: 1rem;
  top: 4vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  -webkit-transition: all .75s;
  transition: all .75s;
  min-width: 10vw;
}

.aside {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.aside::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.avatar img {
  width: 100%;
  border-radius: 25px;
  padding-bottom: .25rem;
}

.avatar {
  padding: 1rem .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.list-polozky {
  width: 100%;
  padding: 1rem 0.25rem;
}

.list-polozky nav ul {
  list-style: none;
}

.list-polozky nav ul a {
  text-decoration: none;
  color: black;
}

.list-polozka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem .25rem;
  letter-spacing: .25rem;
}

.list-polozka h3 {
  padding-left: .5rem;
}

.list-polozka img {
  width: 1.5rem;
}

.navlink {
  border: 0;
  background: transparent;
  border-radius: 25px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.navlink-active {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #999999;
  border-style: solid;
  border-radius: 25px;
}

@media (max-width: 720px) {
  :root {
    --aside-panel-width: 25vw;
  }
  .list-polozka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list-polozka h3 {
    display: none;
  }
  .list-polozka img {
    width: auto;
  }
}

.hlavny-panel {
  border: 1px solid white;
  border-radius: 25px;
  margin-left: calc(var(--aside-panel-width) + 2rem);
  margin-top: 4vh;
  margin-right: 1rem;
  min-height: 90vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  display: flow-root;
  height: 90vh;
  overflow: auto;
  scroll-behavior: smooth;
  max-width: 800px;
  -webkit-transition: all .75s;
  transition: all .75s;
}

/*disable scrollbar podla https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll*/
.hlavny-panel {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hlavny-panel::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.sekcia {
  padding: 1rem .5rem;
  min-height: 90vh;
  overflow: auto;
}

.vzdelanie {
  padding: 0;
}

.timeline-ul {
  list-style: none;
  height: 100%;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeline-li {
  position: relative;
  padding-bottom: 2.25rem;
  height: 100%;
}

.timeline-li::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: var(--timeline-color);
  position: absolute;
  top: 0;
  left: 0;
}

.rok {
  padding: 0.5rem 1rem;
  position: relative;
}

.rok::before {
  content: "";
  height: 1rem;
  width: 1rem;
  position: absolute;
  background-color: var(--timeline-color);
  border-radius: 50%;
  left: calc(-.5rem + 2px);
}

.rok-posledny {
  position: absolute;
  bottom: 0rem;
}

.popis {
  margin-left: 2rem;
}

.popis h2,
.popis h3 {
  padding: .5rem 0rem;
}

.popis h4 {
  padding: .5rem .5rem 0 .5rem;
}

.sekcia-praca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.job {
  position: relative;
  padding-left: 1.5rem;
}

.hr-job {
  background-color: var(--timeline-color);
  height: 2px;
  margin: 0 1rem;
  border: 0;
}

.data-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
}

.h100 {
  height: 100%;
}

.kontakt-karta {
  border-width: 3px;
  border-color: black;
  border-style: double;
  margin: 1rem;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .25rem .25rem;
  background-color: white;
}

.karta-text-bg {
  border-bottom: 2px solid blue;
  padding-right: .25rem;
}

.karta-text {
  padding-right: .25rem;
}

.karta-text-maly {
  font-size: xx-small;
}

.img-bar, .img-avatar {
  width: 150px;
}

.img-avatar {
  border: 2px solid blue;
}

.img-bar {
  padding: 0.25rem .5rem;
}

.karta-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.karta-data {
  margin-top: .5rem;
}

.hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: .5rem;
}

.hobby-polozka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 1rem;
}

.jazyky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: .5rem;
}

.jazyk-polozka {
  padding-left: 1rem;
}

.moje-projekty-polozka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.moje-projekty-polozka img {
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
}

body {
  background: #00B4DB;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#0083B0), to(#00B4DB));
  background: linear-gradient(to right, #0083B0, #00B4DB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=cv.css.map */